*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D3D3C9;
}
h1{
    background-color: #FFAB91;
    color: #3E2723;
}
.contanier{
    display: flex;
    background-color:#D3D3C9;
    height:  35vh;
    width: 100vw;
    align-items: start;
    justify-content: center;
}
.images1{
     height: 30vmin;
     width: 30vmin;
     /* border-radius: 20px; */
     /* background-color: #000000; */
     display: flex;
     align-items: center;
     justify-content: center;
}
/* .images1:hover{
    border: 2px solid black;
} */
img{
    height: 20vmin;
    width: 21vmin;
    border-radius: 50vmin;
    object-fit: cover;
    /* border: 3px solid black; */

}
.img0:hover{
    border: 3px solid black;
}
.img0:active{
    height: 19vmin;
    width: 20vmin;
    opacity: 10;
}
.score{
    /* background-color: rgb(126, 204, 220); */
    height: 20vh;
    display: flex;
    justify-content: center;
    gap: 6.5vmin;
    font-size: 5vmin;

}
.winner-div{
    height:20vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
    gap: 5vmin;
}
.winner{
    background-color: #87CEEB;
    height: 7vh;
    width:max-content;
    font-size: 3vmin;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* color: #D3D3C9; */
    
}
.win-color{
    background-color: #228B22;
    color: white;
}
.lose-color{
    background-color: #8B4513;
    color: white;
}
#scoreY{
    font-size: 10vmin;
}
#scoreC{
    font-size: 10vmin;
}
.comp-choose{
    display: flex;
    /* justify-content: start; */
    align-items: end;
    flex-direction: column;
    /* background-color: #3E2723; */
    gap: 1.5vmin;
}
.comp-container{
    height: max-content;
    width: max-content;
    display: flex;
    gap: 0.5vmin;

    
}
.img1{
    height: 10vmin;
    width: 11vmin;
    border-radius: 50vmin;
    object-fit: cover;
}
h2{
    margin-right: 70px;
}

.comp-brcolor{
    border: 2px solid black;
}
.restart{
    height: 6vmin;
    width: 30vmin;
    background-color: #3E2723;
    color: white;
    font-weight: 900;
    font-size: large;
    border-radius: 10vmin;
}
.restart:active{
    height: 5.8vmin;
    width: 29vmin;
}